{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}

    <main>
        <form method="POST">
            <input name="fruit_search" class="search-element" placeholder="Search...">
        </form>

        <section id="search-result-container">
            {% if (releases is defined) %}
                {% for current in releases %}
                    {% include 'release.html.twig' with {'release': current, 'fruit': fruit} %}
                {% endfor %}
            {% endif %}
        </section>
    </main>
{% endblock %}
