header {
    width: 100%;
    height: 15%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: darkgray;
}

header img {
    width: auto;
    height: 80%;
}

header div#btn-container {
    padding: 0 2vw;
}
