{% extends 'base.html.twig' %}

{% block title %}Tutti Frutti - Search{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset("css/pages/search_page_style.css") }}">

    <section id="dark-overlay"></section>

    {% include 'components/header.html.twig' with {'page': "search"} %}

    <main>
        <form method="POST">
            <input name="fruit_search" class="search-element" placeholder="Search...">
        </form>

        <section id="search-result-container">
            {% if (releases is defined) %}
                {% for current in releases %}
                    {% include 'components/release.html.twig' with {'release': current, 'fruit': fruit} %}
                {% endfor %}
            {% endif %}
        </section>
    </main>
{% endblock %}
