<header>
    <img src="{{ asset('img/logo.png') }}" alt="Logo Tutti frutti"/>

    <div id="btn-container">
        <a class="header-btn" href="/profil">Mes favoris</a>
        <a class="header-btn" href="/logout">Se déconnecter</a>
    </div>
</header>
