{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/components/header_style.css") }}">
{% endblock %}

<header>
    <img src="{{ asset('img/logo.png') }}" alt="Logo Tutti frutti"/>

    <div id="btn-container">
        <a class="header-btn" href="{{ path('app_favorite') }}">My Profile</a>
        <a class="header-btn" href="{{ path('app_logout') }}">Log out</a>
    </div>
</header>
