{% extends 'base.html.twig' %}

{% block title %}Tutti Frutti - Profile !{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset("css/pages/favorite_page_style.css") }}">

    <section id="dark-overlay"></section>

    <main>

    </main>
{% endblock %}
